* {
   margin: 0;
   padding: 0;

}

body {
   font-family: Arial, Helvetica, sans-serif;
   background-color: #260980;
   color: #f6ffd2;
}
/* #260980 -- #283996 -- #3aa3c1 -- #f6ffd2 */

.oneTier {
   display: grid;
   grid-template-columns: 1fr 2fr;

}

.twoTier {
   min-height: 100vh;
}

.twoTierLeft {
   background-color: #260980;
}
.twoTierRight {
   background-color: #283996;
}
.mainTopic {
   border: solid 1px #f6ffd2;
   background-color: rgba(247, 247, 247, 0.3);
   height: 10vh;
   width: 30vw;
   margin: auto;
   margin-top: 3vh;
   margin-bottom: 3vh;
   text-align: center;
   padding: 10px 4px;
   font-size: 27px;
   border-radius: 5%;
   overflow-y: auto;
}
.topic {
   margin: 4vh 2vw;
   text-align: center;
   color: #3aa3c1;
}
.threeTier {
   margin: 4vh 2vw;
   text-align: center;
   padding: 8px;
   border: solid 2px #f6ffd2;
   border-radius: 6px;
   height: 64vh;
   overflow-y: scroll;
   background-color: #3aa3c1;
}
.threeTierRight {
   height: 33vh;
}
.rightOne {
   background-color: #3aa3c1;
   text-align: center;
   padding: 2vh 3vw;
}
.rightTwo {
   background-color: #260980;
   position: relative;
}
.fourTier {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 2vw;
   padding-top: 4vh;
   padding-left: 6vw;
   padding-right: 5vw;
   padding-bottom: 5vh;
   
   
   
}
.fiveTier {
   background-color: #f6ffd2;
   border-radius: 50%;
   height: 150px;
   width: 150px;
   border: solid 2px #260980;
   color: #3aa3c1;
   display: grid;
   place-content: center;
   font-size: 21px;
   text-decoration: none;
   transition-duration: 500ms;
   
}
.fiveTier:hover {
   background-color: #3aa3c1;
   color: #260980;
}
/* #260980 -- #283996 -- #3aa3c1 -- #f6ffd2 */

.slide {
   width: 60vw;
   height: 30vh;
   background-color: #f6ffd2;
   color: #283996;
   position: absolute;
   left: 2.5vw;
   top: 1vh;
   overflow-y: scroll;
   padding: 5px;
}