* {
   margin: 0;
   padding: 0;

}

body {
   font-family: Arial, Helvetica, sans-serif;
   background-color: #260980;
   color: #f6ffd2;
}
/* #260980 -- #283996 -- #3aa3c1 -- #f6ffd2 */

.oneTier {
   display: grid;
   grid-template-columns: 1fr 2fr;

}

.twoTier {
   min-height: 100vh;
}

.twoTierLeft {
   background-color: #260980;
}
.twoTierRight {
   background-color: #283996;
}
.mainTopic {
   border: solid 1px #f6ffd2;
   background-color: rgba(247, 247, 247, 0.3);
   height: 10vh;
   width: 30vw;
   margin: auto;
   margin-top: 3vh;
   margin-bottom: 3vh;
   text-align: center;
   padding: 10px 4px;
   font-size: 27px;
   border-radius: 5%;
   overflow-y: auto;
}
.topic {
   margin: 4vh 2vw;
   text-align: center;
   color: #3aa3c1;
}
.threeTier {
   margin: 4vh 2vw;
   text-align: center;
   padding: 8px;
   border: solid 2px #f6ffd2;
   border-radius: 6px;
   height: 64vh;
   overflow-y: scroll;
   background-color: #3aa3c1;
}
.threeTierRight {
   height: 33vh;
}
.rightOne {
   background-color: #3aa3c1;
   text-align: center;
   padding: 2vh 3vw;
}
.rightTwo {
   background-color: #260980;
}
.fourTier {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}
.fiveTier {
   background-color: aqua;
   border-radius: 50%;
   height: 15vh;
   width: 15vw;
   border: solid 2px chocolate;
}